body {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.div {
  background-color: #ffffff;
  width: 1440px;
  height: fit-content;
  position: relative;
}

.header {
  position: absolute;
  width: inherit;
  height: 90px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.overlap {
  position: absolute;
  width: 100%;
  height: 500px;
  top: 90px;
  left: 0;
}

.navbar {
  position: absolute;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.nav-list-item-link {
  position: absolute;
  width: 57px;
  height: 60px;
  top: -2px;
  left: 135px;
  font-family: "Rubik-Regular", Helvetica;
  font-weight: 400;
  color: #99a2aa;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.text-wrapper {
  width: 64px;
  left: 222px;
  position: absolute;
  height: 60px;
  top: -2px;
  font-family: "Rubik-Regular", Helvetica;
  font-weight: 400;
  color: #99a2aa;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.nav-list-item-link-2 {
  width: 59px;
  left: 316px;
  position: absolute;
  height: 60px;
  top: -2px;
  font-family: "Rubik-Regular", Helvetica;
  font-weight: 400;
  color: #99a2aa;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.nav-list-item-link-3 {
  width: 84px;
  left: 404px;
  position: absolute;
  height: 60px;
  top: -2px;
  font-family: "Rubik-Regular", Helvetica;
  font-weight: 400;
  color: #99a2aa;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.nav-list-item-link-4 {
  width: 75px;
  left: 518px;
  position: absolute;
  height: 60px;
  top: -2px;
  font-family: "Rubik-Regular", Helvetica;
  font-weight: 400;
  color: #99a2aa;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.nav-list-item-link-5 {
  width: 59px;
  left: 622px;
  position: absolute;
  height: 60px;
  top: -2px;
  font-family: "Rubik-Regular", Helvetica;
  font-weight: 400;
  color: #99a2aa;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.nav-list-item-link-6 {
  width: 59px;
  left: 710px;
  position: absolute;
  height: 60px;
  top: -2px;
  font-family: "Rubik-Regular", Helvetica;
  font-weight: 400;
  color: #99a2aa;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.tabpanel {
  position: absolute;
  width: inherit;
  height: 450px;
  top: 50px;
  left: 0;
  background-color: #fec524;
}

.div-slider-item {
  position: relative;
  width: 570px;
  height: 230px;
  left: 135px;
}

.heading {
  position: absolute;
  width: 300px;
  height: 52px;
  top: 53px;
  left: 0;
  font-family: "Rubik-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 44px;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.heading-2 {
  width: 283px;
  height: 52px;
  top: 113px;
  left: 0;
  color: #ffffff;
  font-size: 44px;
  position: absolute;
  font-family: "Rubik-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.p {
  position: absolute;
  width: 313px;
  height: 30px;
  top: 199px;
  left: 0;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #0e2f4b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.div-services-block {
  position: absolute;
  width: 100%;
  height: 800px;
  top: 590px;
  left: 0;
  background-color: #f8f8f8;
}

.div-col-xl {
  position: absolute;
  width: 400px;
  height: 630px;
  top: 100px;
  left: 120px;
}

.heading-3 {
  width: 205px;
  height: 57px;
  top: 30px;
  left: 15px;
  color: #0e2f4b;
  font-size: 48px;
  position: absolute;
  font-family: "Rubik-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.heading-4 {
  width: 201px;
  height: 57px;
  top: 90px;
  left: 15px;
  color: #0e2f4b;
  font-size: 48px;
  position: absolute;
  font-family: "Rubik-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.text-wrapper-2 {
  position: absolute;
  width: 369px;
  height: 22px;
  top: 183px;
  left: 15px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #0e2f4b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.div-col-xl {
  position: relative;
  width: 400px;
  height: 630px;
}

.div-col-xl .heading {
  position: absolute;
  width: 205px;
  height: 57px;
  top: 30px;
  left: 15px;
  font-family: "Rubik-Bold", Helvetica;
  font-weight: 700;
  color: #0e2f4b;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.div-col-xl .text-wrapper {
  position: absolute;
  width: 201px;
  height: 57px;
  top: 90px;
  left: 15px;
  font-family: "Rubik-Bold", Helvetica;
  font-weight: 700;
  color: #0e2f4b;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.div-col-xl .div {
  width: 369px;
  top: 183px;
  position: absolute;
  height: 22px;
  left: 15px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #0e2f4b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.div-col-xl .p {
  width: 358px;
  top: 213px;
  position: absolute;
  height: 22px;
  left: 15px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #0e2f4b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.div-col-xl .text-wrapper-2 {
  width: 174px;
  top: 243px;
  position: absolute;
  height: 22px;
  left: 15px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #0e2f4b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.div-col-xl .text-wrapper-3 {
  width: 354px;
  top: 283px;
  position: absolute;
  height: 22px;
  left: 15px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #0e2f4b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.div-col-xl .text-wrapper-4 {
  width: 295px;
  top: 313px;
  position: absolute;
  height: 22px;
  left: 15px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #0e2f4b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}


.text-wrapper-5 {
  position: absolute;
  width: 354px;
  height: 22px;
  top: 283px;
  left: 15px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #0e2f4b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.text-wrapper-6 {
  position: absolute;
  width: 295px;
  height: 22px;
  top: 313px;
  left: 15px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #0e2f4b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.link {
  position: absolute;
  width: 370px;
  height: 180px;
  top: 100px;
  left: 535px;
  background-image: url(./img/SVG-6.svg);
  background-size: 100% 100%;
}

.heading-5 {
  position: absolute;
  width: 119px;
  height: 28px;
  top: 31px;
  left: 30px;
  font-family: "Rubik-Bold", Helvetica;
  font-weight: 700;
  color: #0e2f4b;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.heading-6 {
  position: absolute;
  width: 124px;
  height: 28px;
  top: 63px;
  left: 30px;
  font-family: "Rubik-Bold", Helvetica;
  font-weight: 700;
  color: #0e2f4b;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.heading-7 {
  position: absolute;
  width: 88px;
  height: 17px;
  top: 104px;
  left: 30px;
  font-family: "Rubik-Bold", Helvetica;
  font-weight: 700;
  color: #0e2f4b;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.symbol {
  width: 7px;
  height: 20px;
  top: 103px;
  left: 121px;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  font-family: "Font Awesome 5 Free-Solid", Helvetica;
  font-weight: 400;
  color: #0e2f4b;
  letter-spacing: 0;
  white-space: nowrap;
}

.link-2 {
  position: absolute;
  width: 370px;
  height: 180px;
  top: 100px;
  left: 935px;
  background-image: url(./img/SVG-7.svg);
  background-size: 100% 100%;
}

.heading-8 {
  position: absolute;
  width: 142px;
  height: 28px;
  top: 63px;
  left: 30px;
  font-family: "Rubik-Bold", Helvetica;
  font-weight: 700;
  color: #0e2f4b;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.link-3 {
  position: absolute;
  width: 370px;
  height: 180px;
  top: 310px;
  left: 535px;
  background-image: url(./img/image.svg);
  background-size: 100% 100%;
}

.heading-9 {
  position: absolute;
  width: 262px;
  height: 28px;
  top: 31px;
  left: 30px;
  font-family: "Rubik-Bold", Helvetica;
  font-weight: 700;
  color: #0e2f4b;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.heading-10 {
  position: absolute;
  width: 123px;
  height: 28px;
  top: 63px;
  left: 30px;
  font-family: "Rubik-Bold", Helvetica;
  font-weight: 700;
  color: #0e2f4b;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.link-4 {
  position: absolute;
  width: 370px;
  height: 180px;
  top: 310px;
  left: 935px;
  background-image: url(./img/SVG-10.svg);
  background-size: 100% 100%;
}

.heading-11 {
  position: absolute;
  width: 183px;
  height: 28px;
  top: 31px;
  left: 30px;
  font-family: "Rubik-Bold", Helvetica;
  font-weight: 700;
  color: #0e2f4b;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.heading-12 {
  position: absolute;
  width: 88px;
  height: 17px;
  top: 72px;
  left: 30px;
  font-family: "Rubik-Bold", Helvetica;
  font-weight: 700;
  color: #0e2f4b;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.symbol-2 {
  width: 7px;
  height: 20px;
  top: 71px;
  left: 121px;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  font-family: "Font Awesome 5 Free-Solid", Helvetica;
  font-weight: 400;
  color: #0e2f4b;
  letter-spacing: 0;
  white-space: nowrap;
}

.link-5 {
  position: absolute;
  width: 370px;
  height: 180px;
  top: 520px;
  left: 535px;
  background-image: url(./img/SVG-2.svg);
  background-size: 100% 100%;
}

.heading-13 {
  position: absolute;
  width: 99px;
  height: 28px;
  top: 63px;
  left: 30px;
  font-family: "Rubik-Bold", Helvetica;
  font-weight: 700;
  color: #0e2f4b;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.link-6 {
  position: absolute;
  width: 370px;
  height: 180px;
  top: 520px;
  left: 935px;
  background-image: url(./img/SVG-12.svg);
  background-size: 100% 100%;
}

.heading-14 {
  position: absolute;
  width: 139px;
  height: 28px;
  top: 31px;
  left: 30px;
  font-family: "Rubik-Bold", Helvetica;
  font-weight: 700;
  color: #0e2f4b;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.heading-15 {
  position: absolute;
  width: 96px;
  height: 28px;
  top: 63px;
  left: 30px;
  font-family: "Rubik-Bold", Helvetica;
  font-weight: 700;
  color: #0e2f4b;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.div-container {
  position: absolute;
  height: 212px;
  top: -158px;
  width: 1200px;
  left: 120px;
}

.overlap-group {
  position: absolute;
  width: 570px;
  height: 72px;
  top: 30px;
  left: 15px;
  border-radius: 10px;
}

.form-input {
  width: 570px;
  left: 0;
  border-radius: 10px;
  box-shadow: 0px 3px 35px #5f62662b;
  position: absolute;
  height: 72px;
  top: 0;
  background-color: #ffffff;
}

.div-placeholder {
  width: 310px;
  top: 26px;
  position: relative;
  height: 19px;
  left: 30px;
}

.text-wrapper-7 {
  position: absolute;
  width: 233px;
  height: 19px;
  top: -1px;
  left: 0;
  font-family: "Rubik-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: normal;
  white-space: nowrap;
}

.form-button {
  width: 123px;
  left: 417px;
  position: absolute;
  height: 72px;
  top: 0;
  background-color: #ffffff;
}

.link-7 {
  position: absolute;
  width: 270px;
  height: 80px;
  top: 132px;
  left: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 3px 35px #5f62662b;
}

.SVG {
  left: 55px;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 26px;
}

.text-wrapper-8 {
  position: absolute;
  width: 107px;
  height: 20px;
  top: 29px;
  left: 109px;
  font-family: "Rubik-Bold", Helvetica;
  font-weight: 700;
  color: #99a2aa;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.link-8 {
  position: absolute;
  width: 270px;
  height: 80px;
  top: 132px;
  left: 315px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 3px 35px #5f62662b;
}

.img {
  left: 65px;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 26px;
}

.text-wrapper-9 {
  position: absolute;
  width: 86px;
  height: 20px;
  top: 29px;
  left: 119px;
  font-family: "Rubik-Bold", Helvetica;
  font-weight: 700;
  color: #99a2aa;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.link-9 {
  position: absolute;
  width: 270px;
  height: 80px;
  top: 132px;
  left: 615px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 3px 35px #5f62662b;
}

.SVG-2 {
  left: 49px;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 26px;
}

.text-wrapper-10 {
  position: absolute;
  width: 118px;
  height: 20px;
  top: 29px;
  left: 103px;
  font-family: "Rubik-Bold", Helvetica;
  font-weight: 700;
  color: #99a2aa;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.link-10 {
  position: absolute;
  width: 270px;
  height: 80px;
  top: 132px;
  left: 915px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 3px 35px #5f62662b;
}

.SVG-3 {
  left: 48px;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 26px;
}

.text-wrapper-11 {
  position: absolute;
  width: 120px;
  height: 20px;
  top: 29px;
  left: 102px;
  font-family: "Rubik-Bold", Helvetica;
  font-weight: 700;
  color: #99a2aa;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.div-export-code {
  position: absolute;
  width: 100%;
  height: 660px;
  top: 1390px;
  left: 0;
  background-color: #042c4b;
}

.div-col-xl-wrapper {
  position: relative;
  width: 1170px;
  height: 390px;
  top: 120px;
  left: 135px;
}

.div-col-xl-2 {
  position: relative;
  width: 700px;
  height: 390px;
  left: -15px;
}

.heading-16 {
  width: 592px;
  height: 57px;
  top: 30px;
  left: 15px;
  color: #f8f8f8;
  font-size: 48px;
  position: absolute;
  font-family: "Rubik-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.heading-17 {
  width: 519px;
  height: 57px;
  top: 90px;
  left: 15px;
  color: #f8f8f8;
  font-size: 48px;
  position: absolute;
  font-family: "Rubik-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.text-wrapper-12 {
  position: absolute;
  width: 356px;
  height: 22px;
  top: 183px;
  left: 15px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #99a2aa;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.text-wrapper-13 {
  position: absolute;
  width: 307px;
  height: 22px;
  top: 213px;
  left: 15px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #99a2aa;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.div-wrapper {
  position: absolute;
  width: 305px;
  height: 40px;
  top: 280px;
  left: 30px;
  background-color: #fdc13d;
  border-radius: 10px;
  display: flex;
  padding: 28px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.text-wrapper-14 {
  display: flex;
  width: 305px;
  height: 40px;
  padding: 28px 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: #0E2F4B;
  border-radius: 10px;
  text-align: center;
  font-family: "Rubik-Bold", Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; /* 400% */
}

.div-container-wrapper {
  position: absolute;
  width: 100%;
  height: 800px;
  top: 2050px;
  left: 0;
  background-color: #f8f8f8;
}

.div-container-2 {
  position: relative;
  height: 780px;
  top: 100px;
  width: 1200px;
  left: 120px;
}

.div-slick-list {
  position: absolute;
  width: 1170px;
  height: 220px;
  top: 0;
  left: 15px;
}

.tabpanel-2 {
  position: relative;
  height: 220px;
  background-color: #fdc13d;
  border-radius: 10px;
}

.element-wrapper {
  position: relative;
  width: 1020px;
  height: 60px;
  top: 55px;
  left: 75px;
  overflow: visible;
}

.element {
  position: relative;
  width: 977px;
  height: 60px;
  top: 1px;
  left: 0;
  font-family: "Rubik-Bold", Helvetica;
  font-weight: 700;
  color: #0e2f4b;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
}

.p-2 {
  position: relative;
  width: 1020px;
  height: 40px;
  top: 60px;
  left: 75px;
}

.text-wrapper-15 {
  position: absolute;
  width: 981px;
  height: 22px;
  left: 0;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #0e2f4b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.text-wrapper-16 {
  position: absolute;
  width: 101px;
  height: 19px;
  left: 0px;
  font-family: "Rubik-Bold", Helvetica;
  font-weight: 700;
  color: #0e2f4b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.symbol-3 {
  width: 8px;
  height: 24px;
  left: 100px;
  font-size: 16px;
  line-height: 24px;
  position: absolute;
  font-family: "Font Awesome 5 Free-Solid", Helvetica;
  font-weight: 400;
  color: #0e2f4b;
  letter-spacing: 0;
  white-space: nowrap;
}

.heading-18 {
  width: 461px;
  height: 57px;
  top: 340px;
  left: 15px;
  color: #0e2f4b;
  font-size: 48px;
  position: absolute;
  font-family: "Rubik-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.link-11 {
  position: absolute;
  width: 270px;
  height: 270px;
  top: 430px;
  left: 15px;
  background-image: url(./img/SVG.svg);
  background-size: 100% 100%;
}

.heading-19 {
  position: absolute;
  width: 99px;
  height: 28px;
  top: 31px;
  left: 30px;
  font-family: "Rubik-Bold", Helvetica;
  font-weight: 700;
  color: #0e2f4b;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.heading-20 {
  position: absolute;
  width: 117px;
  height: 28px;
  top: 63px;
  left: 30px;
  font-family: "Rubik-Bold", Helvetica;
  font-weight: 700;
  color: #0e2f4b;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.link-12 {
  position: absolute;
  width: 270px;
  height: 270px;
  top: 430px;
  left: 315px;
  background-image: url(./img/SVG-3.svg);
  background-size: 100% 100%;
}

.heading-21 {
  position: absolute;
  width: 147px;
  height: 28px;
  top: 31px;
  left: 30px;
  font-family: "Rubik-Bold", Helvetica;
  font-weight: 700;
  color: #0e2f4b;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.link-13 {
  position: absolute;
  width: 270px;
  height: 270px;
  top: 430px;
  left: 615px;
  background-image: url(./img/SVG-4.svg);
  background-size: 100% 100%;
}

.heading-22 {
  position: absolute;
  width: 163px;
  height: 28px;
  top: 31px;
  left: 30px;
  font-family: "Rubik-Bold", Helvetica;
  font-weight: 700;
  color: #0e2f4b;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.div-zip-code-block {
  position: absolute;
  width: 1440px;
  height: 635px;
  top: 2930px;
  left: 0;
  background-color: #0e2f4b;
}

.div-col-xl-3 {
  position: relative;
  width: 1200px;
  height: 365px;
  top: 134px;
  left: 120px;
}

.heading-23 {
  width: 352px;
  height: 57px;
  top: 30px;
  left: 15px;
  color: #f8f8f8;
  font-size: 48px;
  position: absolute;
  font-family: "Rubik-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.text-wrapper-17 {
  position: absolute;
  width: 1135px;
  height: 22px;
  top: 123px;
  left: 15px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #99a2aa;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.text-wrapper-18 {
  position: absolute;
  width: 325px;
  height: 22px;
  top: 153px;
  left: 15px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #99a2aa;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.div-placeholder-wrapper {
  position: absolute;
  width: 508px;
  height: 80px;
  top: 255px;
  left: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #e8ebee;
}

.div-placeholder-2 {
  width: 446px;
  top: 29px;
  position: relative;
  height: 19px;
  left: 30px;
}

.text-wrapper-19 {
  position: absolute;
  width: 273px;
  height: 19px;
  top: -1px;
  left: 0;
  font-family: "Rubik-Regular", Helvetica;
  font-weight: 400;
  color: #6c757d;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: normal;
  white-space: nowrap;
}

.form-button-2 {
  position: absolute;
  width: 249px;
  height: 80px;
  top: 255px;
  left: 533px;
  background-color: #fdc13d;
  border-radius: 10px;
}

.text-wrapper-20 {
  position: absolute;
  width: 75px;
  height: 24px;
  top: 27px;
  left: 87px;
  font-family: "Rubik-Bold", Helvetica;
  font-weight: 700;
  color: #0e2f4b;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 80px;
  white-space: nowrap;
}

.div-middle-block {
  position: absolute;
  width: 1440px;
  height: 1304px;
  top: 3565px;
  left: 0;
  background-color: #f8f8f8;
}

.div-container-3 {
  position: relative;
  height: 1124px;
  top: 100px;
  width: 1200px;
  left: 120px;
}

.heading-24 {
  width: 187px;
  height: 57px;
  top: 30px;
  left: 15px;
  color: #0e2f4b;
  font-size: 48px;
  position: absolute;
  font-family: "Rubik-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.link-14 {
  position: absolute;
  width: 570px;
  height: 250px;
  top: 120px;
  left: 15px;
  background-color: #ffffff;
  border-radius: 10px;
}

.element-icon-png {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 30px;
  left: 30px;
  border-radius: 50px;
  background-image: url(./img/350-icon-01-png.png);
  background-size: cover;
  background-position: 50% 50%;
}

.text-wrapper-21 {
  position: absolute;
  width: 72px;
  height: 19px;
  top: 31px;
  left: 150px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #99a2aa;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.heading-25 {
  position: absolute;
  width: 390px;
  height: 48px;
  top: 59px;
  left: 150px;
}

.text-wrapper-22 {
  position: absolute;
  width: 334px;
  height: 46px;
  top: 0;
  left: 0;
  font-family: "Rubik-Bold", Helvetica;
  font-weight: 700;
  color: #0e2f4b;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
}

.p-3 {
  position: absolute;
  width: 510px;
  height: 50px;
  top: 130px;
  left: 30px;
}

.text-wrapper-23 {
  position: absolute;
  width: 324px;
  height: 22px;
  top: 23px;
  left: 0;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #0e2f4b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}
